<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>背道法啦！</title>
	<script src="../static/js/df/question.js"></script>
	<script src="../static/js/df/vue.js"></script>
	<script src="../static/js/df/try.js"></script>
	<style>
		span.text{
			font-size: xx-large;
		}
		span.green{
			color: green;
		}
		span.error{
			color: red;
		}
	</style>
</head>
<body>
	<div id="vue">
		<div v-show="start==0">
			<div>
				<h2>八上</h2>
				<span v-for="(title,idx) in question[1]">
					第{{idx+1}}课 
					<input type="checkbox" :value="title" v-model="choose" @change="refresh()"/>
				</span>
			</div>
			<div>
				<h2>八下</h2>
				<span v-for="(title,idx) in question[2]">
					第{{idx+1}}课 
					<input type="checkbox" :value="title" v-model="choose" @change="refresh()"/>
				</span>
			</div>
			<br>
			题目数：<input type="number" min="1" v-model="total">
			<br><br>
			<button @click="change(0,0)">开始吧！</button>
		</div>
		<div v-show="start==1">
			<span class="text">{{now}}</span>
			<hr>
			<button @click="change(1,0)">我知道！</button>
			<button @click="change(0,1)">我不知道！</button>
			<br>
			<span>
				状态：{{historyArr.length}}/{{Math.min(historyArr.length+arr.length,total)}}
			</span>
		</div>
		<div v-show="start==-1">
			<span class="green">正确：{{correct}}</span>
			<br>
			<span class="error">
				错误：{{incorrect}}
				<ul>
					<li v-for="err in errorArr">{{err}}</li>
				</ul>
			</span>
			<br>
			<button @click="restart(-1)" v-if="incorrect">重新开始（错的题）</button>
			<button @click="restart(1)">重新开始（题库不变）</button>
			<button @click="restart(0)">重新开始（重新选择题库）</button>
		</div>
	</div>
</body>
</html>