<html>
<!--Play the game in fullscreen for better view. 
First click anywhere on the square box to start the game. To play the game use up, down, right and left arrows or use mouse to direct the tiles -->

<head>
    <title>2048</title>
    <link rel="stylesheet" href="./static/css/2048.css"/>
    <script type="text/javascript" src="http://skyzhou.top:8039/2048_score"></script>
    <script type="text/javascript" src="http://skyzhou.top:8023/jspy_user"></script>
    <script type="text/javascript" src="./static/js/2048.js"></script>
</head>
<body>
    <div class="cover"></div>
        <div class="container">
            <div class="logo">2048</div>
            <div class="scoreBar">
                <label style="position: relative; top:-13px;">score:</label>
                <label id="score"> 0</label>
                <div id="addScore"></div>
            </div>
            <div id="stage"></div>
            <!--<div id="gameOver hide">-->
                <!--<div class="overText">GameOver!</div>-->
            <!--</div>-->
            
        </div>
        <h1 id = "hrank">RANK 封神榜(大佬们快来屠杀啊</h1>
        <p id = "list"></p>
</body>
</html>